@model CreateOrder

<h2>Create New Order</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create">
    <label>Rental: @Model.Rental.Name</label>
    <input asp-for="Order.RentalId" type="hidden" value="@Model.Rental.RentalId">
    <label>Customer: @Model.Customer.FirstName + @Model.Customer.LastName</label>
    <input asp-for="Order.CustomerId" type="hidden" value="@Model.Customer.CustomerId">
    <div class="form-group">
        <label asp-for="Order.From" asp-item></label>
        <input asp-for="Order.From" class="form-control" type="date" />
        <span asp-validation-for="Order.From" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order.To"></label>
        <input asp-for="Order.To" class="form-control" type="date" />
        <span asp-validation-for="Order.To" class="text-danger"></span>
    </div>
    <div class="form-group">
    
    <div class="form-group">
        <label asp-for="Order.Rating"></label>
        <input asp-for="Order.Rating" class="form-control" />
        <span asp-validation-for="Order.Rating" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Rental" asp-action="Grid" class="btn btn-secondary">Back to Retnals</a>
</form>
