@{
    ViewData["Title"] = "Delete Order";
}
@model Order

<h2>Remove Order</h2>

<h3>Are you sure you want to remove this Order</h3>
<div>
    <h4>Order</h4>
    <dl class="row">
        <dt class="col-sm-2">OrderId:</dt>
        <dd class="col-sm-10">@Model.OrderId</dd>

        <dt class="col-sm-2">Rental:</dt>
        <dd class="col-sm-10">@Model.Rental.Name</dd>

        <dt class="col-sm-2">Owner:</dt>
        <dd class="col-sm-10">@Model.Customer.FirstName @Model.Customer.LastName</dd>

        <dt class="col-sm-2">From:</dt>
        <dd class="col-sm-10">@Model.From</dd>
        <dt class="col-sm-2">To:</dt>
        <dd class="col-sm-10">@Model.To</dd>

        <dt class="col-sm-2">Rating:</dt>
        <dd class="col-sm-10">@Model.Rating</dd>

        <dt class="col-sm-2">TotalPrice:</dt>
        <dd class="col-sm-10">@Model.TotalPrice</dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.OrderId" method="post">
        <button type="submit" class="btn btn-danger">Remove</button>
        <a asp-action="Grid" class="btn btn-secondary">Cancel</a>
    </form>
</div>