@{
    ViewData["Title"] = "Create Rental";
}
@using Microsoft.AspNetCore.Identity
@model CreateRental
@inject UserManager<IdentityUser> UserManager

<h2>Create a Rental</h2>

<!-- error msg if date invalid or cration failed -->
@if (@Model.message != null)
{<p class="text-danger">@Model.message</p>}
<form asp-action="Create">
    <input type="hidden" asp-for="Rental.IdentityId" value="@UserManager.GetUserId(User)" />
    <div class="form-group">
        <label>Customer: @Model.Owner.FirstName @Model.Owner.LastName</label>
        <input asp-for="Rental.OwnerId" type="hidden" value="@Model.Owner.CustomerId">
    </div>
    <div class="form-group">
        <label asp-for="Rental.Name"></label><span class="text-danger">*</span>
        <input asp-for="Rental.Name" class="form-control" />
        <span asp-validation-for="Rental.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rental.Location"></label><span class="text-danger">*</span>
        <input asp-for="Rental.Location" class="form-control" />
        <span asp-validation-for="Rental.Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rental.Price"></label><span class="text-danger">*</span>
        <input asp-for="Rental.Price" class="form-control" />
        <span asp-validation-for="Rental.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rental.FromDate"></label><span class="text-danger">*</span>
        <input asp-for="Rental.FromDate" class="form-control" value="" type="date" />
        <span asp-validation-for="Rental.FromDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rental.ToDate"></label><span class="text-danger">*</span>
        <input asp-for="Rental.ToDate" class="form-control" value="" type="date" />
        <span asp-validation-for="Rental.ToDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rental.Description"></label>
        <input asp-for="Rental.Description" class="form-control" />
        <span asp-validation-for="Rental.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rental.Image"></label>
        <input asp-for="Rental.Image" class="form-control" />
        <span asp-validation-for="Rental.Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Grid" class="btn btn-secondary">Back to Rentals</a>
</form>
