@using Microsoft.AspNetCore.Identity
@model Rental
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Rental";
}
<style>
    h5 {
        margin-top: 20px;
    }

    .info {
        margin-top: 10rem;
        margin-left: 5px;
        margin-right: 5px;
        height: 3rem;
    }

        .info > a {
            color: black;
            text-decoration: none;
        }

    body {
        background-color: #8baec9;
    }
</style>

@if (Model.IdentityId == UserManager.GetUserId(User))
    {


    <h1 class="my-3">
        @Model.Name
    </h1>
    <div>
        <div class="row row-cols-1 row-cols-lg-2  row-cols-md-1 row-cols-sm-1">
            <div style="margin-top:10px;">
                <img style="border-radius:10px; border-color:white; border-style:solid; padding:0px;" alt="@Model.Name" src="@Model.Bilder" class="img-fluid" />
            </div>
            <div style="background-color:white; padding:25px; margin-top:10px; border-radius:10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

                <h3 class="pull-right">Location: @Model.Location</h3>
                <h5 class="pull-right">Owner: @Model.Owner.FirstName @Model.Owner.LastName</h5>
                <h5>@Model.Description</h5>
                <h5 class="pull-right">Price per/n: @Model.Price.ToString("0.00 NOK")</h5>
                <h5 class="pull-right">Rating: @Model.Rating</h5>
                <div style="margin-top:30px;">

                    <a asp-controller="Rental" asp-action="Update" class="btn btn-outline-primary info" style="margin:0px; line-height: -20px; text-align: center; font-weight:bold;" asp-route-id="@Model.RentalId">Update Rental</a>

                    <a asp-controller="Rental" asp-action="Delete" class="btn btn-outline-danger info" style="margin:0px; line-height: -20px; text-align: center; font-weight:bold;" asp-route-id="@Model.RentalId">Delete</a>

                    <a class="btn btn-outline-info info" style="margin:0px; line-height: -20px; text-align: center; font-weight:bold;" asp-action="Table"> Back to Table View</a>

                    <a class="btn btn-outline-info info" style="margin:0px; line-height: -20px; text-align: center; font-weight:bold;" asp-action="Grid">Back to Grid View</a>

                </div>

            </div>
        </div>
    </div>


    }
    else
    {

        <h1 class="my-3">
            @Model.Name
        </h1>
        <div>
            <div class="row row-cols-1 row-cols-lg-2  row-cols-md-1 row-cols-sm-1">
                <div style="margin-top:10px;">
                    <img style="border-radius:10px; border-color:white; border-style:solid; padding:0px;" alt="@Model.Name" src="@Model.Bilder" class="img-fluid" />
                </div>
                <div style="background-color:white; padding:25px; margin-top:10px; border-radius:10px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

                    <h3 class="pull-right">Location: @Model.Location</h3>
                    <h5 class="pull-right">Owner: @Model.Owner.FirstName @Model.Owner.LastName</h5>
                    <h5>@Model.Description</h5>
                    <h5 class="pull-right">Price per/n: @Model.Price.ToString("0.00 NOK")</h5>
                    <h5 class="pull-right">Rating: @Model.Rating</h5>
                    <div style="margin-top:30px;">

                    <a class="btn btn-outline-success info" style="margin:0px; line-height: -20px; text-align: center;" asp-controller="Orders" asp-action="Create" asp-route-id="@Model.RentalId">Rent out</a>

                    <a class="btn btn-outline-info info" style="margin:0px; line-height:-20px; text-align: center;" asp-action="Table"> Back to Table View</a>

                    <a class="btn btn-outline-info info" style="margin:0px; line-height: -20px; text-align: center;" asp-action="Grid">Back to Grid View</a>
                       
                    </div>

                </div>
            </div>
        </div>

    }