@model IEnumerable<Rental>

<h1>List of Rentals (@ViewBag.CurrentViewName View)</h1>
<a href="/Rental/Table">Table View</a>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var rental in Model)
    {
        <div class="col ">
            <div>
                <img src="/images/1.jpeg" class="card-img-top" alt="@rental.Name">
                <div>
                    <div class="d-flex justify-content-between mt-1">
                        <h5 class="text-start">
                            @rental.Name
                        </h5>
                        <h6 class="text-nowrap">
                            <p>Price per/n:</p>
                            @rental.Price.ToString("0.00 NOK")
                        </h6>
                    </div>
                    <div class="d-flex justify-content-evenly mt-1">
                        <h5 class="text-nowrap">
                            <p>Rating</p>
                            @rental.Rating
                        </h5>
                        <h5 class="text-nowrap">
                            <p>Location</p>
                            @rental.Location
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>