@model IEnumerable<Rental>

<h1>List of Rentals</h1>
<button class="btn btn-light">
    <a style="color: black; text-decoration:none" href="/Rental/Table">Table View</a>
</button>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row row-cols-1  row-cols-xl-3 row-cols-lg-3  row-cols-md-2  row-cols-sm-1 ">
    @foreach (var rental in Model)
    {

        <div class="d-flex justify-content-between mt-1"  style="height:35rem">
            <div class="col card " style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; padding: 50px; margin-top: 20px; border-radius: 10px; background-color: white">
                <div>
                    <img src="@rental.Bilder" class="card-img-top" alt="@rental.Name">
                    <div>
                        <div class="d-flex justify-content-between mt-1">
                            <h5 class="text-start" style="margin-top:2rem;">
                                @rental.Name
                               
                            </h5>
                        </div>
                        <div class="d-flex justify-content-between mt-1 flex-lg-column flex-md-column flex-xl-row">
                            <h6 class="text-nowrap  p-2">
                                <p >Rating</p>
                                @rental.Rating
                            <i class="fa fa-star"></i>
                            </h6>
                            <h6 class="text-nowrap  p-2">
                                <p>Location</p>
                                @rental.Location
                            </h6>
                            <h6 class="text-nowrap  p-2">
                                <p>Price per/n:</p>
                                @rental.Price.ToString("0.00 NOK")
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<style>

.card:hover {
    border-style: solid;
    border-color: #6b99bf;
    border-width: 5px;
    transform: scaleY(1.01);
    transform-origin: top;
    transform-origin: bottom;
    transform-origin: left;
    transform-origin: right;
}


body {
    background-color: #8baec9;
}

.nav {
    margin-left: 200px;
}
</style>

