@model Rental

<a class="link-dark " asp-controller="Rental" asp-action="Details" asp-route-id="@Model.RentalId" style="text-decoration:none">
    <div class="d-flex justify-content-between mt-1" style="height:35rem;">
        <div class="col card " style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; padding: 50px; margin-top: 20px; border-radius: 10px; background-color: white">
            <div>
                <img style="border-radius:5px;" src="@Model.Image" class="card-img-top" alt="@Model.Name">
                <div>
                    <div class="d-flex justify-content-between mt-1">
                        <h5 class="text-start" style="margin-top:2rem;">
                            @Model.Name
                               
                        </h5>
                    </div>
                    <div class="d-flex justify-content-between mt-1 flex-lg-column flex-md-column flex-xl-row">
                        <div class="text-nowrap  p-2">
                            <p >Rating</p>
                            @Model.Rating
                        <i class="fa fa-star"></i>
                        </div>
                        <div class="text-nowrap  p-2">
                            <p>Location</p>
                            @Model.Location
                        </div>
                        <div class="text-nowrap  p-2">
                            <p>Price per/n:</p>
                            @Model.Price.ToString("0.00 NOK")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
